# Ignorar directorios de compilación comunes

src/Application/bin/
src/Application/obj/
src/Application/out/
src/Application/target/
src/Application/build/
src/Application/dist/

src/Domain/bin/
src/Domain/obj/
src/Domain/out/
src/Domain/target/
src/Domain/build/
src/Domain/dist/

src/Infrastructure/bin/
src/Infrastructure/obj/
src/Infrastructure/out/
src/Infrastructure/target/
src/Infrastructure/build/
src/Infrastructure/dist/

src/Web.API/bin/
src/Web.API/obj/
src/Web.API/out/
src/Web.API/target/
src/Web.API/build/
src/Web.API/dist/

# Ignorar archivos objeto de C
*.o

# Ignorar archivos ejecutables (sin extensión o con extensiones comunes en Linux)
/program
*.exe
*.out
*.app

# Ignorar archivos de dependencias
src/Application/node_modules/
src/Application/packages/

src/Domain/node_modules/
src/Domain/packages/

src/Infrastructure/node_modules/
src/Infrastructure/packages/

src/Web.API/node_modules/
src/Web.API/packages/

# Ignorar archivos de registro y temporales del sistema
*.log
*.tmp
.DS_Store

.fake

# .NET build artifacts
**/bin/
**/obj/
**/AssemblyInfo.cs
*.AssemblyInfo.cs
**/AssemblyAttributes.cs

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# Visual Studio cache/options
**/vs/
**/vscode/
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
/.vs/InfraGestion/FileContentIndex

# SQLite databases
*.sqlite
*.sqlite3
*.db
*.db-shm
*.db-wal
*_backup.sqlite
*_corrupt.sqlite
dump.sql
